.carta img {
  width: 230px;
  height: 230px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.carta {
  height: 420px;
  background-color: #37745b;
  margin-top: 50px;
  margin-left: 35px;
  color: white;
  cursor: pointer;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
}
.carta:hover {
  background-color: #344648;
  box-shadow: 1px 1px 1px #344648;
}
.carta p {
  margin: 8px;
  margin-left: 15px;
  margin-right: 15px;
  color: aliceblue;
}

.carta:hover {
  box-shadow: 2px 2px 2px #344648;
}
